<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<body>


	
	<h1>This is order type page</h1>
	
	<table>
      <tr>
        <th>NAME</th>
        <th>PRICE</th>
      </tr>
      <tr th:each="orderType : ${OrderTypes}">
        <td th:text="${orderType.id}">Onions</td>
        <td th:text="${orderType.name}">2.41</td>
         <td><a type="submit" th:href="@{/orderType/update(orderTypeId=${orderType.id})}">Update</a></td>
         <td><a type="submit" th:href="@{/orderType/delete(orderTypeId=${orderType.id})}">Delete</a></td>
      </tr>
    </table>
  
	
	
                
</body>


</html>
