<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<body>


	
	<h1>This is order type page</h1>
	
	<table>
      <tr>
        <th>NAME</th>
        <th>PRICE</th>
      </tr>
      <tr th:each="designation : ${Designations}">
        <td th:text="${designation.id}">Onions</td>
        <td th:text="${designation.name}">2.41</td>
         <td><a type="submit" th:href="@{/designation/update(designationId=${designation.id})}">Update</a></td>
         <td><a type="submit" th:href="@{/designation/delete(designationId=${designation.id})}">Delete</a></td>
      </tr>
    </table>
  
	
	
                
</body>


</html>
